@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}